<html>
<head>
<title>JEMnR Run Comparison</title>
</head>
<body>
 <p>The following are comparisons of this model run vs. the Reference file:
C:/Users/michael.mccarthy/Documents/ODOT/CALM/CALM_Baseline/CALM-main</p>
 <p>Pre-gen Analysis:</p>
<div class="chunk" id="reporting"><div class="rimage default"><img src="resultsAnalysis/workerModel.png " title="plot of chunk reporting" alt="plot of summary" class="plot" /></div>
<div class="chunk" id="reporting"><div class="rimage default"><img src="resultsAnalysis/AutoOwnership.png " title="plot of chunk reporting" alt="plot of summary" class="plot" /></div>
<div class="chunk" id="reporting"><div class="rimage default"><img src="resultsAnalysis/AutoSufficiency.png " title="plot of chunk reporting" alt="plot of summary" class="plot" /></div>
 <p>Trip Generation by Purpose:</p>
<div class="chunk" id="reporting"><div class="rimage default"><img src="resultsAnalysis/TripsByPurpose.png " title="plot of chunk reporting" alt="plot of summary" class="plot" /></div>
 <p>Trip Length Distribution Analysis by Purpose:</p>
<div class="chunk" id="reporting"><div class="rimage default"><img src="resultsAnalysis/TripDist.png " title="plot of chunk reporting" alt="plot of summary" class="plot" /></div>
 <p>Peak Travel Time Distribution:</p>
<div class="chunk" id="reporting"><div class="rimage default"><img src="resultsAnalysis/TripTT.png " title="plot of chunk reporting" alt="plot of summary" class="plot" /></div>
 <p>Transit Trips by Fare District:</p>
<div class="chunk" id="reporting"><div class="rimage default"><img src="resultsAnalysis/TransitTripsByDistrict.png " title="plot of chunk reporting" alt="plot of summary" class="plot" /></div>
 <p>Daily and Peak Vehicle Demand:</p>
<div class="chunk" id="reporting"><div class="rimage default"><img src="resultsAnalysis/dailyPeakVehTrips.png " title="plot of chunk reporting" alt="plot of summary" class="plot" /></div>
 <p>Person Miles Traveled by Mode (and IntraZonal Percenatages):</p>
<div class="chunk" id="reporting"><div class="rimage default"><img src="resultsAnalysis/PMT.png " title="plot of chunk reporting" alt="plot of summary" class="plot" /></div>
 <p>Trips by Mode:</p>
<div class="chunk" id="reporting"><div class="rimage default"><img src="resultsAnalysis/TripsByMode.png " title="plot of chunk reporting" alt="plot of summary" class="plot" /></div>
 <p>Current Scenario Trips by Mode by Purpose:</p>
<!-- html table generated in R 3.4.1 by xtable 1.8-2 package -->
<!-- Wed Aug 25 18:33:59 2021 -->
<table border=1>
<caption align="top"> Current Trips by Mode and Purpose </caption>
<tr> <th>  </th> <th> driveAlone </th> <th> drivePass </th> <th> pass </th> <th> busWalk </th> <th> parkAndRideBus </th> <th> bike </th> <th> walk </th> <th> DailyTotal </th>  </tr>
  <tr> <td align="center"> hbcoll </td> <td align="center"> 342 </td> <td align="center"> 3582 </td> <td align="center"> 1455 </td> <td align="center"> 257 </td> <td align="center"> 0 </td> <td align="center"> 3 </td> <td align="center"> 4 </td> <td align="center"> 5643 </td> </tr>
  <tr> <td align="center"> hbo </td> <td align="center"> 64014 </td> <td align="center"> 41272 </td> <td align="center"> 59089 </td> <td align="center"> 74 </td> <td align="center"> 1 </td> <td align="center"> 5418 </td> <td align="center"> 16868 </td> <td align="center"> 186736 </td> </tr>
  <tr> <td align="center"> hbr </td> <td align="center"> 13454 </td> <td align="center"> 10187 </td> <td align="center"> 15705 </td> <td align="center"> 374 </td> <td align="center"> 1 </td> <td align="center"> 690 </td> <td align="center"> 9313 </td> <td align="center"> 49725 </td> </tr>
  <tr> <td align="center"> hbs </td> <td align="center"> 25772 </td> <td align="center"> 7632 </td> <td align="center"> 12250 </td> <td align="center"> 902 </td> <td align="center"> 48 </td> <td align="center"> 2408 </td> <td align="center"> 16496 </td> <td align="center"> 65509 </td> </tr>
  <tr> <td align="center"> hbw </td> <td align="center"> 47138 </td> <td align="center"> 4662 </td> <td align="center"> 5365 </td> <td align="center"> 479 </td> <td align="center"> 173 </td> <td align="center"> 5067 </td> <td align="center"> 3500 </td> <td align="center"> 66384 </td> </tr>
  <tr> <td align="center"> nhbnw </td> <td align="center"> 56275 </td> <td align="center"> 40921 </td> <td align="center"> 51905 </td> <td align="center"> 82 </td> <td align="center"> 0 </td> <td align="center"> 4418 </td> <td align="center"> 11990 </td> <td align="center"> 165590 </td> </tr>
  <tr> <td align="center"> nhbw </td> <td align="center"> 13340 </td> <td align="center"> 2716 </td> <td align="center"> 2595 </td> <td align="center"> 558 </td> <td align="center"> 0 </td> <td align="center"> 189 </td> <td align="center"> 484 </td> <td align="center"> 19882 </td> </tr>
  <tr> <td align="center"> DailyMode </td> <td align="center"> 220335 </td> <td align="center"> 110972 </td> <td align="center"> 148364 </td> <td align="center"> 2725 </td> <td align="center"> 223 </td> <td align="center"> 18194 </td> <td align="center"> 58656 </td> <td align="center"> 559469 </td> </tr>
   </table>
 <p>Reference Scenario Trips by Mode by Purpose:</p>
<!-- html table generated in R 3.4.1 by xtable 1.8-2 package -->
<!-- Wed Aug 25 18:33:59 2021 -->
<table border=1>
<caption align="top"> Reference Trips by Mode and Purpose </caption>
<tr> <th>  </th> <th> driveAlone </th> <th> drivePass </th> <th> pass </th> <th> busWalk </th> <th> parkAndRideBus </th> <th> bike </th> <th> walk </th> <th> DailyTotal </th>  </tr>
  <tr> <td align="center"> hbcoll </td> <td align="center"> 510 </td> <td align="center"> 3483 </td> <td align="center"> 1427 </td> <td align="center"> 216 </td> <td align="center"> 0 </td> <td align="center"> 3 </td> <td align="center"> 4 </td> <td align="center"> 5643 </td> </tr>
  <tr> <td align="center"> hbo </td> <td align="center"> 64042 </td> <td align="center"> 41322 </td> <td align="center"> 59171 </td> <td align="center"> 73 </td> <td align="center"> 1 </td> <td align="center"> 5378 </td> <td align="center"> 16750 </td> <td align="center"> 186736 </td> </tr>
  <tr> <td align="center"> hbr </td> <td align="center"> 13470 </td> <td align="center"> 10208 </td> <td align="center"> 15737 </td> <td align="center"> 368 </td> <td align="center"> 1 </td> <td align="center"> 685 </td> <td align="center"> 9256 </td> <td align="center"> 49725 </td> </tr>
  <tr> <td align="center"> hbs </td> <td align="center"> 25810 </td> <td align="center"> 7647 </td> <td align="center"> 12271 </td> <td align="center"> 897 </td> <td align="center"> 49 </td> <td align="center"> 2397 </td> <td align="center"> 16438 </td> <td align="center"> 65509 </td> </tr>
  <tr> <td align="center"> hbw </td> <td align="center"> 47268 </td> <td align="center"> 4683 </td> <td align="center"> 5388 </td> <td align="center"> 470 </td> <td align="center"> 174 </td> <td align="center"> 4992 </td> <td align="center"> 3408 </td> <td align="center"> 66384 </td> </tr>
  <tr> <td align="center"> nhbnw </td> <td align="center"> 56356 </td> <td align="center"> 41087 </td> <td align="center"> 51970 </td> <td align="center"> 79 </td> <td align="center"> 0 </td> <td align="center"> 4312 </td> <td align="center"> 11786 </td> <td align="center"> 165590 </td> </tr>
  <tr> <td align="center"> nhbw </td> <td align="center"> 13360 </td> <td align="center"> 2728 </td> <td align="center"> 2601 </td> <td align="center"> 540 </td> <td align="center"> 0 </td> <td align="center"> 184 </td> <td align="center"> 469 </td> <td align="center"> 19882 </td> </tr>
  <tr> <td align="center"> DailyMode </td> <td align="center"> 220817 </td> <td align="center"> 111157 </td> <td align="center"> 148565 </td> <td align="center"> 2643 </td> <td align="center"> 226 </td> <td align="center"> 17951 </td> <td align="center"> 58109 </td> <td align="center"> 559469 </td> </tr>
   </table>
 <p>Difference between Trips by Mode:</p>
<!-- html table generated in R 3.4.1 by xtable 1.8-2 package -->
<!-- Wed Aug 25 18:33:59 2021 -->
<table border=1>
<caption align="top"> Difference in Trips by Mode and Purpose </caption>
<tr> <th>  </th> <th> driveAlone </th> <th> drivePass </th> <th> pass </th> <th> busWalk </th> <th> parkAndRideBus </th> <th> bike </th> <th> walk </th> <th> DailyTotal </th>  </tr>
  <tr> <td align="center"> hbcoll </td> <td align="center"> -168 </td> <td align="center"> 99 </td> <td align="center"> 28 </td> <td align="center"> 41 </td> <td align="center"> 0 </td> <td align="center"> 0 </td> <td align="center"> 0 </td> <td align="center"> 0 </td> </tr>
  <tr> <td align="center"> hbo </td> <td align="center"> -28 </td> <td align="center"> -50 </td> <td align="center"> -82 </td> <td align="center"> 1 </td> <td align="center"> 0 </td> <td align="center"> 40 </td> <td align="center"> 118 </td> <td align="center"> -0 </td> </tr>
  <tr> <td align="center"> hbr </td> <td align="center"> -16 </td> <td align="center"> -21 </td> <td align="center"> -32 </td> <td align="center"> 6 </td> <td align="center"> 0 </td> <td align="center"> 5 </td> <td align="center"> 58 </td> <td align="center"> 0 </td> </tr>
  <tr> <td align="center"> hbs </td> <td align="center"> -38 </td> <td align="center"> -15 </td> <td align="center"> -21 </td> <td align="center"> 6 </td> <td align="center"> -1 </td> <td align="center"> 11 </td> <td align="center"> 58 </td> <td align="center"> 0 </td> </tr>
  <tr> <td align="center"> hbw </td> <td align="center"> -130 </td> <td align="center"> -21 </td> <td align="center"> -23 </td> <td align="center"> 9 </td> <td align="center"> -2 </td> <td align="center"> 75 </td> <td align="center"> 92 </td> <td align="center"> 0 </td> </tr>
  <tr> <td align="center"> nhbnw </td> <td align="center"> -81 </td> <td align="center"> -167 </td> <td align="center"> -65 </td> <td align="center"> 3 </td> <td align="center"> 0 </td> <td align="center"> 106 </td> <td align="center"> 204 </td> <td align="center"> 0 </td> </tr>
  <tr> <td align="center"> nhbw </td> <td align="center"> -21 </td> <td align="center"> -12 </td> <td align="center"> -5 </td> <td align="center"> 18 </td> <td align="center"> 0 </td> <td align="center"> 5 </td> <td align="center"> 15 </td> <td align="center"> 0 </td> </tr>
  <tr> <td align="center"> DailyMode </td> <td align="center"> -482 </td> <td align="center"> -185 </td> <td align="center"> -202 </td> <td align="center"> 82 </td> <td align="center"> -3 </td> <td align="center"> 242 </td> <td align="center"> 547 </td> <td align="center"> 0 </td> </tr>
   </table>
 <p>Percent Difference between Current and Reference Scenario:</p>
<!-- html table generated in R 3.4.1 by xtable 1.8-2 package -->
<!-- Wed Aug 25 18:33:59 2021 -->
<table border=1>
<caption align="top"> Percent Difference by Mode and Purpose </caption>
<tr> <th>  </th> <th> driveAlone </th> <th> drivePass </th> <th> pass </th> <th> busWalk </th> <th> parkAndRideBus </th> <th> bike </th> <th> walk </th> <th> DailyTotal </th>  </tr>
  <tr> <td align="center"> hbcoll </td> <td align="center"> -33 </td> <td align="center"> 3 </td> <td align="center"> 2 </td> <td align="center"> 19 </td> <td align="center">  </td> <td align="center"> 15 </td> <td align="center"> 4 </td> <td align="center"> 0 </td> </tr>
  <tr> <td align="center"> hbo </td> <td align="center"> -0 </td> <td align="center"> -0 </td> <td align="center"> -0 </td> <td align="center"> 1 </td> <td align="center"> 39 </td> <td align="center"> 1 </td> <td align="center"> 1 </td> <td align="center"> -0 </td> </tr>
  <tr> <td align="center"> hbr </td> <td align="center"> -0 </td> <td align="center"> -0 </td> <td align="center"> -0 </td> <td align="center"> 2 </td> <td align="center"> 22 </td> <td align="center"> 1 </td> <td align="center"> 1 </td> <td align="center"> 0 </td> </tr>
  <tr> <td align="center"> hbs </td> <td align="center"> -0 </td> <td align="center"> -0 </td> <td align="center"> -0 </td> <td align="center"> 1 </td> <td align="center"> -3 </td> <td align="center"> 0 </td> <td align="center"> 0 </td> <td align="center"> 0 </td> </tr>
  <tr> <td align="center"> hbw </td> <td align="center"> -0 </td> <td align="center"> -0 </td> <td align="center"> -0 </td> <td align="center"> 2 </td> <td align="center"> -1 </td> <td align="center"> 2 </td> <td align="center"> 3 </td> <td align="center"> 0 </td> </tr>
  <tr> <td align="center"> nhbnw </td> <td align="center"> -0 </td> <td align="center"> -0 </td> <td align="center"> -0 </td> <td align="center"> 3 </td> <td align="center">  </td> <td align="center"> 2 </td> <td align="center"> 2 </td> <td align="center"> 0 </td> </tr>
  <tr> <td align="center"> nhbw </td> <td align="center"> -0 </td> <td align="center"> -0 </td> <td align="center"> -0 </td> <td align="center"> 3 </td> <td align="center">  </td> <td align="center"> 3 </td> <td align="center"> 3 </td> <td align="center"> 0 </td> </tr>
  <tr> <td align="center"> DailyMode </td> <td align="center"> -0 </td> <td align="center"> -0 </td> <td align="center"> -0 </td> <td align="center"> 3 </td> <td align="center"> -1 </td> <td align="center"> 1 </td> <td align="center"> 1 </td> <td align="center"> 0 </td> </tr>
   </table>
</body>
</html>
